<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dans Homepage</title>
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/homepage.css">
  </head>
  <body class="homepage">

    <section class="container">
      <h1>Welcome to Dan's homepage</h1>
      <ul class="mylinks">
        <li>
          <a href="/hello">Hello world</a>
        </li>
        <li>
          <a href="/senators/F000062">Senator Dianne Feinstein</a>
        </li>
        <li>
          <a href="/senators/C001098">Senator Ted Cruz</a>
        </li>
        <li>
          <a href="/senators">All U.S. Senators</a>
        </li>

      </ul>
    </section>

  </body>
</html>
